<img src="http://www.earwolf.com/wp-content/uploads/2011/04/HDTGMFULL-300x300.jpg" style="padding-top:30px" class="center-block img-responsive" height=300 width=500/>
<br></br>
<div class="container">
    <div class="span12">
      <p>How Did This Get Made? is the only bi-weekly show on the Earwolf network. It is hosted by Paul Scheer, June Diane Raphael and Jason Mantzoukas. Each show, which has a different guest, features the deconstruction and mockery of bad films.</p>
      <p>Each show, which has a different guest, features the deconstruction and mockery of bad films. In addition to making jokes about the films, the hosts and guest attempt to unscramble plots. After discussing the film, Scheer reads "second opinions" in the form of five-star reviews posted online by Amazon.com users. The hosts also often make recommendations on if the film is worth watching. The show is released every two weeks. During the show's off week a ".5" episode is uploaded featuring Scheer announcing the next week's movie as well as challenges for the fans. Some full episodes are live episodes recorded in front of a live audience and includes a question and answer session.</p>
      <p>The podcast was started when the hosts were talking about how bad Wall Street: Money Never Sleeps was over drinks and after seeing Old Dogs in the theater.</p>
    </div>
<br></br>
<div class="row">
  <div class="col-xs-12- col-md-4 col-lg-4">
    <img src="http://cdn2.earwolf.com/wp-content/uploads/2013/11/99.jpg" height=250 width=250>
      <h3 style="margin-left: 45px">Paul Scheer</h3>
        <a href="https://twitter.com/paulscheer"><img src="../images/twitter.png" alt="Twitter" width="30" height="30" style="margin-left: 90px"></a>
        <a href="https://www.facebook.com/thepaulscheer"><img src="../images/facebook.png" alt="Facebook" width="30" height="30" style="margin-left: 5px">
        </a>
  </div>
 <div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://cdn2.earwolf.com/wp-content/uploads/2013/11/145.jpg" height=250 width=250 style="margin-left: 40px">
        <h3 style="margin-left: 45px">Jason Mantzoukas</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://cdn2.earwolf.com/wp-content/uploads/2013/11/127.jpg" height=250 width=250 style="margin-left: 80px">
       <h3 style="margin-left: 85px">June Diane Raphael</h3>
        <a href="https://twitter.com/MsJuneDiane"><img src="../images/twitter.png" alt="Twitter" width="30" height="30" style="margin-left: 200px"></a>
      </div>
    </div>
  </div>
<br></br>
<hr></hr>
<br></br>
<div class="container">
  <div class="span12">
    <iframe width="100%" height="600"src="https://www.youtube.com/embed/kXaoBpKllts" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
