<img src="http://i.vimeocdn.com/video/502577239_640.jpg" style="padding-top:30px" class="center-block img-responsive" height=500 width=500/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
          Ernest P. Worrell, he is a bumbling janitor at a bank. Ernest wants to become a clerk in the bank he is working in. Meanwhile, a criminal in the Draccup penitentiary had murdered an inmate and is now in court. This is when Ernest was chosen for jury duty. Unberknownst to Ernest, he is being set up for a dangerous criminal named Felix Nash (who looks a lot like Ernest). When Nash knocks out Ernest and switches places with him, Ernest attempts to escape from the penitentiary and stop Nash, who is taking over his job and his life.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://planetaua.net/uploads/posts/2011-05/1304636555_3.png" height=250 width=250>
       <h3 style="margin-left: 35px">Jim Varney</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://media9.fast-torrent.ru/media/files/s2/xd/vn/ernest-idet-v-tyurmu.jpg" height=250 width=250 style="margin-left: 40px">
        <h3 style="margin-left: 80px">Jim Varney</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://img.movieboom.biz/movie/screen/32182/1.jpg" height=250 width=250 style="margin-left: 80px">
       <h3 style="text-align: center">Gailard Sartain & Bill Byrge</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> April 6, 1990</p>
            <p><span style="font-weight:bold">Director:</span>  John R. Cherry, III</p>
            <p><span style="font-weight:bold">Category:</span> Comedy | Crime | Family</p>
            <p><span style="font-weight:bold">Rating:</span>  PG</p>
            <p><span style="font-weight:bold">Run Time:</span> 81 min</p>
            <p><span style="font-weight:bold">Budget:</span> Unknown</p>
            <p><span style="font-weight:bold">Box Office:</span> $25,029,569</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> This is the second most successful of the Ernest films, behind Ernest Saves Christmas.</p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-8 col-lg-8">
<h2>How Did This Get Made? Episode #86</h2>
<p>May 20, 2014</p>
       <p>Is the character of Ernest supposed to be special? Does Evil Ernest ooze sexuality? Is Ernest Goes To Jail a movie aimed at kids? Special guest <span style="font-weight:bold">Lesley Arfin </span> (writer for Girls & Brooklyn Nine-Nine) joins Paul, June, and Jason to discuss Ernest P. Worrell’s antics in the film Ernest Goes To Jail which includes Ernest basically becoming Powder (or Electro), Evil Ernest’s rape attempt, and Ernest having the ability to fly. </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
            <img src="http://cdn3.earwolf.com/wp-content/uploads/2013/11/6915.jpg" height=250 width=250 align=left>
        </div>    
    </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/150354669&color=ffcc00&show_artwork=false"></iframe>
    </div>
</div>