<img src="https://fanart.tv/fanart/movies/10696/movielogo/glitter-4ffd74ec5bfda.png" style="padding-top:30px" class="center-block img-responsive" height=500 width=500/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
          A young singer dates a disc jockey who helps her get into the music business, but their relationship become complicated as she ascends to super stardom.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.empireonline.com/images/features/singers-who-should-not-act/glitter.jpg" height=250 width=250>
       <h3 style="margin-left: 25px">Mariah Carey</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://cineplex.media.baselineresearch.com/images/303021/303021_full.jpg" height=250 width=250>
       <h3 style="margin-left: 37px">Max Beesley</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://static.tvgcdn.net/MediaBin/Galleries/Imported/BioPix/Ro/Bio_Batch5/terrence-howard1.jpg" height=250 width=250>
       <h3 style="margin-left: 15px">Terrance Howard</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://cdn.moviestillsdb.com/sm/ca62d13fbb4a2ae930d6a01a0ea84ad1/glitter.jpg" height=250 width=250>
       <h3 style="margin-left: 20px">Padma Lakshmi</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> September 21, 2001</p>
            <p><span style="font-weight:bold">Director:</span>  Vondie Curtis Hall</p>
            <p><span style="font-weight:bold">Category:</span>  Drama | Music | Romance </p>
            <p><span style="font-weight:bold">Rating:</span>  PG-13</p>
            <p><span style="font-weight:bold">Run Time:</span> 104 min</p>
            <p><span style="font-weight:bold">Budget:</span> $22,000,000</p>
            <p><span style="font-weight:bold">Box Office:</span> $5,271,666</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> Glitter was nominated for 6 razzies, with Mariah winning for worst actress. The accompanying soundtrack, Glitter, became Carey's worst showing on the charts. The album itself struggled to reach gold certification, but since its 2001 release has been certified platinum. Virgin Records dropped Carey from the label due to the poor sales of the album and canceled their $100 million contract with her.</p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-12 col-lg-12">
<h2>How Did This Get Made? Episode #94</h2>
<p>September 23, 2014</p>
       <p>It’s a special HDTGM All-Stars episode with guest co-hosts <span style="font-weight:bold">Adam Scott</span> & <span style="font-weight:bold">Casey Wilson</span> as well as special guest <span style="font-weight:bold">Dan Levy</span> and they’re talking all about Mariah Carey’s Glitter. Recorded LIVE at Largo in Los Angeles, we get into why this movie is set in the 80s, what the deal is with Mariah’s friends Da Brat & the other one, Dice’s death, and the true meaning of magical realism from the director’s commentary track of the film. Plus, we ask what happened to Mariah’s cat and talk about the transitions during audience Q&As!</p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://cdn2.earwolf.com/wp-content/uploads/2013/11/15.jpg" height=250 width=250 style="margin-left: 15px">
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://cdn3.earwolf.com/wp-content/uploads/2013/11/31.jpg" height=250 width=250 style="margin-left: 50px">
      </div>
<div class="row">
    <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://cdn.earwolf.com/wp-content/uploads/2014/09/levy.jpg" height=250 width=250 style="margin-left: 90px">
      </div>
    </div>
  </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/168943909&color=ffcc00&show_artwork=false" align=left></iframe>
    </div>
</div>
