<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<h1>How Did This Get Made?</h1>
<div class="col-md-12">
    <div class="container-fluid">
      <div class="row">
        <br></br>
        <br></br>
            <div class="col-xs-12- col-md-6 col-lg-6">
                <h2 style="text-align:center">HOW DID THIS GET MADE? PODCAST</h2>
                     <div class="col-md-10 text-center"> 
                          <br></br>
                        <a href='/about' name="singlebutton" style="margin-left: 150px" a class="btn btn-primary btn-lg">PODCAST</a>   
                    </div>
            </div>
      <div class="row"> 
            <div class="col-xs-12- col-md-6 col-lg-6">
                <h2 style="text-align:center">LET'S WATCH SOME BAD MOVIES!</h2>
                    <div class="col-md-10 text-center"> 
                          <br></br>
                        <a href='/movies' name="singlebutton" style="margin-left: 175px" a class="btn btn-primary btn-lg">MOVIES</a>    
                    </div>
            </div>