<img src="http://jarviscity.com/wp-content/uploads/2012/11/howard-the-duck.jpg" style="padding-top:30px" class="center-block img-responsive" height=500 width=500/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
          A sarcastic humanoid duck is pulled from his homeworld to Earth where he must stop an alien invader.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://2.bp.blogspot.com/-268LAxnKpC4/UGtcE7j0tJI/AAAAAAABO3A/s5wPOuw5iqo/s400/Howard-the-Duck-Lea-Thompson-4.jpg" height=250 width=250>
       <h3 style="margin-left: 25px">Lea Thompson</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="https://nypdecider.files.wordpress.com/2014/08/screen-shot-2014-08-04-at-12-31-48-am.png" height=250 width=250>
       <h3 style="margin-left: 37px">Tim Robbins</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://imageserver.moviepilot.com/retro-review-what-not-to-do-with-howard-the-duck-a3b8aad7-7b44-4f55-a431-6af4db86eea4.jpeg" height=250 width=250>
       <h3 style="margin-left: 25px">Jeffrey Jones</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.blastr.com/sites/blastr/files/styles/content_panes_media/public/images/howard-the-duck-original.jpg" height=250 width=250>
       <h3 style="margin-left: 0px">Howard "the Duck"</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> August 1, 1986</p>
            <p><span style="font-weight:bold">Director:</span>  Willard Huyck</p>
            <p><span style="font-weight:bold">Category:</span>  Action | Adventure | Comedy</p>
            <p><span style="font-weight:bold">Rating:</span>  PG</p>
            <p><span style="font-weight:bold">Run Time:</span> 110 min</p>
            <p><span style="font-weight:bold">Budget:</span> $37,000,000</p>
            <p><span style="font-weight:bold">Box Office:</span> $37,900,000</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> The film received seven Golden Raspberry Award nominations in 1987 including Worst Supporting Actor (Tim Robbins), Worst Director and Worst Original Song ("Howard the Duck"). It won four trophies for Worst Screenplay, Worst New Star ("the six guys and gals in the duck suit"), Worst Visual Effects, and Worst Picture, tied with Under the Cherry Moon. The movie also won a Stinkers Bad Movie Awards for Worst Picture. In 2014, the LA Times listed the film as one of the costliest box office flops of all time.</p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-8 col-lg-8">
<h2>How Did This Get Made? Episode #65</h2>
<p>June 25, 2013</p>
       <p>Recorded live at Largo in Los Angeles, <span style="font-weight:bold">Kristen Schaal</span> joins Paul, June, & Jason to ask burning questions regarding duck boobies, how a duck’s penis works, and duck evolution in the world of Howard the Duck. Everything from Lea Thompson’s strange sexual relationship with Howard the Duck to the disturbing Jeffrey Jones electricity scene will be discussed. Oh yeah, there will be duck puns! Be sure to check out the screen grabs that were discussed in this episode on the Earwolf page!
</p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
            <img src="http://cdn3.earwolf.com/wp-content/uploads/2013/11/7371-300x300.jpg" height=250 width=250 align=right>
        </div>    
    </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
         <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/98340942&color=ffcc00&show_artwork=false"></iframe>
    </div>
</div>
