<img src="http://mobi-wall.brothersoft.com/files/480320/b/12816902844174.jpg" style="padding-top:30px" class="center-block img-responsive" height=500 width=500/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
         Lindsay Lohan stars in the mind-bending psychological thriller I Know Who Killed Me. She plays Aubrey Fleming, an unfortunate young woman whose life -- and body -- are irreparably damaged following an abduction by a heinous serial killer. Though Aubrey pulls off a miraculous escape from the clutches of the madman, she does so with deep-seated psychological scars, plus the loss of a hand, a leg, and untold amounts of blood. While Aubrey's parents view her return as a veritable answer to their prayers, they must soon confront an outrageous and seemingly inexplicable twist: the girl who returned claims another identity -- that of a young woman named Dakota. She also exhibits a wholly different personality and mannerisms than Aubrey did, and -- frighteningly -- insists that Aubrey is still very much alive, in the throes of the maniac's grip, and only inches away from death.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://cdn.collider.com/uploads/imagegallery/i_know_who_killed_me/i_know_who_killed_me_movie_image_lindsey_lohan__4_.jpg" height=250 width=250>
       <h3 style="margin-left: 30px">Lindsay Lohan</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.superiorpics.com/movie_pictures/mp/2007_I_Know_Who_Killed_Me/2007_i_know_who_killed_me_017.jpg" height=250 width=250>
       <h3 style="margin-left: 30px">Julia Ormond</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.themoviescene.co.uk/reviews/_img/2845-3.jpg" height=250 width=250>
       <h3 style="margin-left: 20px">Neal McDonough</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.hotflick.net/flicks/2007_I_Know_Who_Killed_Me/tn640/fhd007WKM_Garcelle_Beauvais_002.jpg" height=250 width=250>
       <h3 style="margin-left: 15px">Garcelle Beauvais</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> July 17, 2007</p>
            <p><span style="font-weight:bold">Director:</span>  Chris Sivertson</p>
            <p><span style="font-weight:bold">Category:</span>  Crime | Mystery | Thriller</p>
            <p><span style="font-weight:bold">Rating:</span>  R</p>
            <p><span style="font-weight:bold">Run Time:</span> 105 min</p>
            <p><span style="font-weight:bold">Budget:</span> $12,000,000</p>
            <p><span style="font-weight:bold">Box Office:</span> $9,669,758</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> Filming was stalled in January 2007 when Lohan entered rehab, but was resumed in February. Lohan's DUI arrest in late July 2007 prevented her from doing promotion for this movie. Held the record for most Razzie Award "wins" by one film in a single year, with eight awards including Worst Picture of 2007. A record that was later broken by the Adam Sandler comedy Jack and Jill (2011), with an incredible ten awards, including Worst Picture of 2011.</p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-8 col-lg-8">
<h2>How Did This Get Made? Episode #21</h2>
<p>October 18, 2011</p>
       <p>Is Aubrey a piano prodigy or a stripper? Is it all real or a piece of creative writing? Is this the worst movie Lindsay Lohan has ever been in or flat out the worst movie ever? These are just a few of the questions I Know Who Killed Me left us with. <span style="font-weight: bold">Ken Marino</span> is our victim this week and he helps Paul, June, and Jason piece together the plot, characters, and ridiculous symbols that make this horror thriller such a bomb. 
</p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
            <img src="http://cdn3.earwolf.com/wp-content/uploads/2013/11/286.jpg" height=250 width=250 align=right>
        </div>    
    </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
         <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/84353074&color=ffcc00&show_artwork=false"></iframe>  
       </div>
</div>