<img src="http://www.mildlypleased.com/wp-content/uploads/2012/10/key_art_monkey_shines_an_experiment_in_fear.jpg" style="padding-top:30px" class="center-block img-responsive"height=250 width=700/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
          A quadriplegic man has a trained monkey help him with his paralysis, until the little monkey begins to develop feelings, and rage, against its new master.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://cdn1.sciencefiction.com/wp-content/uploads/2014/09/monkeyshines2.jpg" height=250 width=250>
       <h3 style align=center>Jason Beghe</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.best-horror-movies.com/image-files/monkey-shines-shoulder.jpg" height=250 width=250>
       <h3 style align=center>John Pankow</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://1.bp.blogspot.com/-k2mDYeUVdGg/Tx3EW926NkI/AAAAAAAAEQY/ecg2UteH90Y/s1600/kate-mcneil-monkey-shines-image-7.jpg" height=250 width=250>
       <h3 style align=center>Kate McNeil</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://cinemademerde.com/sites/default/files/styles/full_movie_image/public/movie_image/Monkey_Shines-syringe_0.gif" height=250 width=250>
       <h3 style align=center>"Boo" the Monkey</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> July 29, 1988</p>
            <p><span style="font-weight:bold">Director:</span>  George A. Romero</p>
            <p><span style="font-weight:bold">Category:</span>  Drama | Horror | Sci-Fi</p>
            <p><span style="font-weight:bold">Rating:</span> R</p>
            <p><span style="font-weight:bold">Run Time:</span> 113 min</p>
            <p><span style="font-weight:bold">Budget:</span> $7,000,000</p>
            <p><span style="font-weight:bold">Box Office:</span> $5,344,577</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> This is one of the few films in cinema history to feature a male monkey.</p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-8 col-lg-8">
<h2>How Did This Get Made? Episode #96</h2>
<p>October 29, 2014</p>
       <p>A murderous monkey, a classic 80‘s sex scene, animal monologues, and the Tucc. Monkey Shines has it all! In a special Halloween episode, Paul, June, and Jason discuss the monkey cam, mom sponge baths, whether Alan was running to school with bricks in his backpack in the beginning, and what exactly “monkey shines” means. Plus, everyone tries to figure out where the allegedly cut brain surgery scene fits in the final cut of the movie.</p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
            <!-- <img src="http://cdn4.earwolf.com/wp-content/uploads/2013/11/163.jpg" height=250 width=250 align=left> -->
        </div>    
    </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/174353537&color=ffcc00&show_artwork=false"></iframe>
    </div>
</div>