<div class="container">
    <div class="row">
    <div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://img.soundtrackcollector.com/movie/large/Tango_and_cash_02(1989).jpg" height=500 width=500 data-toggle="modal" href="#tango" alt="Image" style="max-width:100%;"></a>
                      <div id="tango" class="modal modal-wide fade">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Tango & Cash</h4>
                            </div>
                              <div class="modal-body">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/DoacpCpBptU" frameborder="0" allowfullscreen></iframe>
                              </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary"><a href="/tango">Movie Details</button>
                                </div>
                              </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                        </div>
                      <div class="col-md-3">
                        <a href="#" class="thumbnail">
                          <img src="http://www.oocities.org/peefp/Xanadu-Poster-C10126260.jpeg" height=250 width=250 data-toggle="modal" href="#xanadu" alt="Image" style="max-width:100%;"></a>
                        <div id="xanadu" class="modal modal-wide fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">Xanadu</h4>
                              </div>
                                <div class="modal-body">
                                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/ltqjHjxZwEg" frameborder="0" allowfullscreen></iframe>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"><a href="/xanadu">Movie Details</button>
                                  </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                      </div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://basementrejects.com/wp-content/uploads/2013/08/monkey-shines-toy-monkey-poster.jpg" height=250 width=250 data-toggle="modal" href="#monkey" alt="Image" style="max-width:100%;"></a>
                      <div id="monkey" class="modal modal-wide fade">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Monkey Shines</h4>
                              <div class="modal-body">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/HD8TBmk6lIM" frameborder="0" allowfullscreen></iframe>
                              </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary"><a href="/monkey_shines">Movie Details</button>
                                </div>
                              </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                        </div>
                     </div>
                       <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://images.moviepostershop.com/glitter-movie-poster-2001-1020340478.jpg" height=250 width=250 data-toggle="modal" href="#glitter" alt="Image" style="max-width:100%;"></a>
                       <div id="glitter" class="modal modal-wide fade">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Glitter</h4>
                              <div class="modal-body">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/QaKxGrajnzY" frameborder="0" allowfullscreen></iframe>
                              </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary"><a href="/glitter">Movie Details</button>
                                </div>
                              </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                        </div>
                     </div>
                    </div>
                  </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-3"><a href="#" class="thumbnail">
                      <img src="https://www.movieposter.com/posters/archive/main/106/MPW-53190" height=250 width=250 data-toggle="modal" href="#staying" alt="Image" style="max-width:100%;"></a>
                        <div id="staying" class="modal modal-wide fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">Staying Alive</h4>
                              </div>
                                <div class="modal-body">
                                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/wfCaqIudqbE" frameborder="0" allowfullscreen></iframe>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"><a href="/staying_alive">Movie Details</button>
                                  </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                      </div>
                      <div class="col-md-3"><a href="#" class="thumbnail">
                      <img src="https://image.tmdb.org/t/p/w500/3tbX8ZjsHjAIeUSwnJhMh7xQ6dB.jpg" height=250 width=250 data-toggle="modal" href="#ernest" alt="Image" style="max-width:100%;"></a>
                        <div id="ernest" class="modal modal-wide fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">Ernest Goes to Jail</h4>
                              </div>
                                <div class="modal-body">
                                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/0o2V3Uj3xjA" frameborder="0" allowfullscreen></iframe>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"><a href="/ernest_goes_to_jail">Movie Details</button>
                                  </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                      </div>
                    <div class="col-md-3"><a href="#" class="thumbnail">
                      <img src="https://movietime.cc/img/150529_poster_gross1hl30.jpg" height=250 width=250 data-toggle="modal" href="#sharknado" alt="Image" style="max-width:100%;"></a>
                        <div id="sharknado" class="modal modal-wide fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">Sharknado</h4>
                              </div>
                                <div class="modal-body">
                                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/iwsqFR5bh6Q" frameborder="0" allowfullscreen></iframe>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"><a href="/sharknado">Movie Details</button>
                                  </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                      </div>
                   <div class="col-md-3"><a href="#" class="thumbnail">
                      <img src="http://fc01.deviantart.net/fs70/f/2012/159/9/9/howard_the_duck_poster_by_cartoonlover16-d52sz3u.png" height=250 width=250 data-toggle="modal" href="#howard" alt="Image" style="max-width:100%;"></a>
                        <div id="howard" class="modal modal-wide fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">Howard the Duck</h4>
                              </div>
                                <div class="modal-body">
                                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/SzI-ZbcK_sw" frameborder="0" allowfullscreen></iframe>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"><a href="/howard_the_duck">Movie Details</button>
                                  </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                      </div>
                  </div><!--.row-->
                </div><!--.item-->
                <div class="item">
                  <div class="row">
                    <div class="col-md-3"><a href="#" class="thumbnail">
                      <img src="https://www.movieposter.com/posters/archive/main/118/MPW-59126" height=250 width=250 data-toggle="modal" href="#nanny" alt="Image" style="max-width:100%;"></a>
                        <div id="nanny" class="modal modal-wide fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">Mr. Nanny</h4>
                              </div>
                                <div class="modal-body">
                                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/0Kg7QTbW-RI" frameborder="0" allowfullscreen></iframe>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"><a href="/mr_nanny">Movie Details</button>
                                  </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                      </div>
                    <div class="col-md-3"><a href="#" class="thumbnail">
                      <img src="http://a2.mzstatic.com/us/r30/Video/v4/8a/c0/62/8ac0625a-02d4-3d59-4339-2ac110449d42/I_Know_Who_Killed_Me_PosterArt.jpg" height=250 width=250 data-toggle="modal" href="#killed" alt="Image" style="max-width:100%;"></a>
                        <div id="killed" class="modal modal-wide fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">I Know Who Killed Me</h4>
                              </div>
                                <div class="modal-body">
                                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/anVx7mX63H0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"><a href="/i_know_who_killed_me">Movie Details</button>
                                  </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                      </div>
                      <div class="col-md-3"><a href="#" class="thumbnail">
                      <img src="http://411posters.com/wp-content/uploads/2011/10/phantom-creative-sleepaway-camp.png" height=250 width=250 data-toggle="modal" href="#sleepaway" alt="Image" style="max-width:100%;"></a>
                        <div id="sleepaway" class="modal modal-wide fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">I Know Who Killed Me</h4>
                              </div>
                                <div class="modal-body">
                                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/yaAcitYY4OU" frameborder="0" allowfullscreen></iframe>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"><a href="/sleepaway_camp">Movie Details</button>
                                  </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                      </div>
                  </div><!--.row-->
                </div><!--.item-->
                </div><!--.carousel-inner--> 
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
        </div><!--.Carousel-->
</div><!--.container-->