<img src="http://www.themarysue.com/wp-content/uploads/2013/07/sharknado3-640x309.jpg#geekosystem" style="padding-top:30px" class="center-block img-responsive" height=500 width=500/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
          When a freak hurricane swamps Los Angeles, nature's deadliest killer rules sea, land, and air as thousands of sharks terrorize the waterlogged populace.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://i2.cdnds.net/14/29/618x437/sharknado_2.jpg" height=250 width=250>
       <h3 style="margin-left: 35px">Ian Zeiring</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://screen-space.squarespace.com/storage/433287-5b9da08c-f5b9-11e2-86b2-db7941f3673f.jpg?__SQUARESPACE_CACHEVERSION=1376555532331" height=250 width=250 style="margin-left: 40px">
        <h3 style="margin-left: 80px">Tara Reid</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://i.imgur.com/tPSjez5.jpg" height=250 width=250 style="margin-left: 80px">
       <h3 style="text-align: center">John Heard</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> July 11, 2013</p>
            <p><span style="font-weight:bold">Director:</span>  Anthony C. Ferrante</p>
            <p><span style="font-weight:bold">Category:</span> Horror</p>
            <p><span style="font-weight:bold">Rating:</span>  TV-14</p>
            <p><span style="font-weight:bold">Run Time:</span> 86 min</p>
            <p><span style="font-weight:bold">Budget:</span> $2,000,000</p>
            <p><span style="font-weight:bold">Box Office:</span> n/a</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> The premiere of the made-for-tv was watched by 1.37 million viewers, which is slightly below the average audience of 1.5 million viewers for a typical Syfy original film. The film was a trend on Twitter, including discussion by celebrities such as Damon Lindelof, Wil Wheaton, and Olivia Wilde. Due to an increase in publicity (mostly through Twitter), Syfy repeated Sharknado on Thursday, July 18, 2013, one week after its premiere. The airing was watched by 1.89 million viewers, an increase of 38% over its initial airing. On July 27, a third airing of Sharknado got 2.1 million viewers, continuing the increase in popularity of the film and setting a record for most watched original film encore in Syfy history.The sequel premiered on July 30, 2014, and was the highest premiering movie on the SyFy Channel. A third film is scheduled for a 2015 release.</p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-8 col-lg-8">
<h2>How Did This Get Made? Episode #67</h2>
<p>July 16, 2013</p>
       <p>ATTENTION: There was a film that came on Syfy channel that was so important that we had to disrupt our regularly scheduled programming in order to present to you a very special episode of How Did This Get Made? about Sharknado. Most Valuable Podcaster, Scott Aukerman returns to help us figure out the importance of the ship captain opening scene, if a sharknado is scientifically possible, how Tara Reid become a part of this, and where the government was throughout the movie. Plus, June delivers an amazing performance of Nova’s monologue about the origin of her scar. Chomp. Chomp. Chomp. </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
            <img src="http://cdn2.earwolf.com/wp-content/uploads/2013/11/105.jpg" height=250 width=250 align=left>
        </div>    
    </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/100969943&color=ffcc00&show_artwork=false"></iframe>
    </div>
</div>