<img src="http://static.squarespace.com/static/53323bb4e4b0cebc6a28ffa2/5357d323e4b06f1aef0a63f3/5357d4f5e4b06f1aef0ace9f/1398265077870/sleepawaycamp.jpg?format=original" style="padding-top:30px" class="center-block img-responsive" height=500 width=500/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
         Slightly traumatized and painfully shy Angela Baker is sent away to summer camp with her cousin. Not long after Angela's arrival, things start to go horribly wrong for anyone with sinister or less than honorable intentions.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://horrornews.net/wp-content/uploads/2012/05/Felissa-Rose-sleepaway-camp-actress-5.jpg" height=250 width=250>
       <h3 style="margin-left: 40px">Felissa Rose</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://content8.flixster.com/photo/11/71/62/11716226_ori.jpg" height=250 width=250>
       <h3 style="margin-left: 40px">Mike Kellin</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.wearysloth.com/Gallery/ActorsT/80157-25697.jpg" height=250 width=250>
       <h3 style="margin-left: 5px">Jonathan Tiersten</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.wearysloth.com/Gallery/ActorsK/80159-25697.jpg" height=250 width=250>
       <h3 style="margin-left: 15px">Katherine Kamhi</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> November 18, 1983</p>
            <p><span style="font-weight:bold">Director:</span>  Robert Hiltzik</p>
            <p><span style="font-weight:bold">Category:</span>  Horror | Thriller</p>
            <p><span style="font-weight:bold">Rating:</span>  R<p>
            <p><span style="font-weight:bold">Run Time:</span> 88 min</p>
            <p><span style="font-weight:bold">Budget:</span> $350,000</p>
            <p><span style="font-weight:bold">Box Office:</span> $11,000,000</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> Series creator Robert Hiltzik now owns the rights to the Sleepaway Camp franchise, which, as of 2013, is to be rebooted.</p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-8 col-lg-8">
<h2>How Did This Get Made? Episode #48</h2>
<p>October 30, 2012</p>
       <p>Paul, Jason, June Diane, and MTV’s <span style="font-weight: bold">Zack Pearlman</span> talk 1983’s Sleepaway Camp on this Halloween episode of How Did This Get Made.   We learn about incest, how much salt to add to boiling water, and, most importantly, to be cautious of water snakes.  Also, we discuss the performance of Robert Earl Jones (father to James Earl Jones) and Paul’s understanding of the AIDS epidemic.  Enjoy this not-so-low-budget ode to side pony-tails and short shorts. 
</p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
            <img src="http://cdn3.earwolf.com/wp-content/uploads/2013/11/7309-300x300.jpg" height=250 width=250 align=right>
        </div>    
    </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
         <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/84354598&color=ffcc00&show_artwork=false"></iframe>       
       </div>
</div>