<img src="http://skymovies.sky.com/image/unscaled/2012/11/14/staying-alive-tc-DI-to-L8.jpg" style="padding-top:30px" class="center-block img-responsive" height=250 width=450/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
          It's five years later and Tony Manero's Saturday Night Fever is still burning. Now he's strutting toward his biggest challenger yet - making it as a dancer on the Broadway stage.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://cdn3-www.craveonline.com/assets/uploads/2013/03/Staying-Alive-John-Travolta.jpg" height=250 width=250>
       <h3 style="margin-left: 20px">John Travolta</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="https://fultontest.files.wordpress.com/2011/10/cynthia-1.jpg" height=250 width=250 style="margin-left: 40px">
       <h3 style="margin-left: 64px">Cynthia Rhodes</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-4 col-lg-4">
       <img src="http://www.hotflick.net/flicks/1983_Staying_Alive/983SAL_Finola_Hughes_082.jpg" height=250 width=250 style="margin-left: 80px">
       <h3 style="margin-left: 103px">Finola Hughes</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> July 15, 1983</p>
            <p><span style="font-weight:bold">Director:</span>  Sylvester Stallone</p>
            <p><span style="font-weight:bold">Category:</span>  Drama | Music</p>
            <p><span style="font-weight:bold">Rating:</span>  PG-13</p>
            <p><span style="font-weight:bold">Run Time:</span> 93 min</p>
            <p><span style="font-weight:bold">Budget:</span> $22,000,000</p>
            <p><span style="font-weight:bold">Box Office:</span> $64,892,670</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> The film is listed in Golden Raspberry Award founder John Wilson's book The Official Razzie Movie Guide as one of the The 100 Most Enjoyably Bad Movies Ever Made. The soundtrack was released in 1983 and is mainly performed by the Bee Gees.   The soundtrack was nominated for a Golden Globe and a Grammy.</p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-8 col-lg-8">
<h2>How Did This Get Made? Episode #93</h2>
<p>September 9, 2014</p>
       <p>The art of dance, sweat, and slow-mo sex faces are all brought you by Sylvester & Frank Stallone in the sequel to Saturday Night Fever. Recorded LIVE at Largo in Los Angeles, special guest <span style="font-weight:bold">Katie Dippold</span> joins Paul, June, & Jason to talk about the Broadway production of Satan’s Alley, John Travolta turning down a three-way with two new wave girls, and how much June knows about dance. Plus, we finally find out whether a sweaty Travolta or Evil Ernest oozes more sexuality and everyone breaks into dance during 2nd Opinions.</p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
            <img src="http://cdn4.earwolf.com/wp-content/uploads/2013/11/6832-300x300.jpg" height=250 width=250 align=left>
        </div>    
    </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/166849418&color=ffcc00&show_artwork=false"></iframe>
    </div>
</div>
