<img src="http://www.aresluna.org/attached/pics/misc/tangoandcash/logo.jpg" style="padding-top:30px" class="center-block img-responsive"/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
            Ray Tango and Gabriel Cash are narcotics detectives who, while both being extremely successful, can't stand each other. Crime Lord Yves Perret, furious at the loss of income that Tango and Cash have caused him, frames the two for murder. Caught with the murder weapon on the scene of the crime, the two have alibi. Thrown into prison with most of the criminals they helped convict, it appears that they are going to have to trust each other if they are to clear their names and catch the evil Perret.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="https://station79.files.wordpress.com/2012/05/tango_and_cash5.jpg" height=250 width=250>
       <h3 style align=center>Sylvester Stalone</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.craveonline.com/images/stories/2011/2012/October/Film/Myth%20of%20Macho/Tango%20and%20Cash/Tango_and_Cash_Kurt_Russell_Drag.jpg" height=250 width=250>
       <h3 style align=center>Kurt Russel</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.terilynnhatcher.com/gallery/albums/userpics/10001/normal_tango1.jpg" height=250 width=250>
       <h3 style align=center>Terri Hatcher</h3>
      </div>
<div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://cineplex.media.baselineresearch.com/images/87011/87011_large.jpg" height=250 width=250>
       <h3 style align=center>Jack Palance</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> December 22, 1989</p>
            <p><span style="font-weight:bold">Director:</span>  Andrei Konchalovsky, Albert Magnoli (uncredited)</p>
            <p><span style="font-weight:bold">Category:</span>  Action | Comedy | Crime</p>
            <p><span style="font-weight:bold">Rating:</span>  R</p>
            <p><span style="font-weight:bold">Run Time:</span> 104 min</p>
            <p><span style="font-weight:bold">Budget:</span> $55,000,000</p>
            <p><span style="font-weight:bold">Box Office:</span> $63,408,614</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> The film ultimately missed the budget by over $20 million and had to be completely re-edited by editor Stuart Baird prior to its theatrical release. Tango & Cash was also given three 1989 Golden Raspberry Awards nominations for Worst Actor (Sylvester Stallone), Worst Supporting Actress (Kurt Russell in drag) and Worst Screenplay, but did not win.</p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-8 col-lg-8">
<h2>How Did This Get Made? Episode #102</h2>
<p>January 23, 2015</p>
       <p><span style="font-weight:bold">Nick Kroll</span> breaks the return guest record as he joins Paul, June, and Jason to discuss Stallone & Russell as mismatched cops in Tango & Cash. They’ll cover everything from cross dressing Kurt Russell, Jack Palance’s master plan, 80s boobs, the newspaper headlines, and the will they, won’t they high-five relationship Sly & Kurt share onscreen. Plus, find out if the ladies out there really do enjoy Stallone & Russell’s shower scene during 2nd Opinions!</p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
            <img src="http://cdn4.earwolf.com/wp-content/uploads/2013/11/89.jpg" height=250 width=250 align=left>
        </div>    
    </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/187363673&color=ffcc00&show_artwork=false" align=left></iframe>
    </div>
</div>

