<img src="https://fanart.tv/fanart/movies/15668/movielogo/xanadu-4f7c247e69c5c.png" style="padding-top:30px" class="center-block img-responsive"/>
<br></br>
<div class="container">
    <div class="span12">
        <p>
            The Greek muses incarnate themselves on Earth to inspire men to achieve. One of them, incarnated as a girl named Kira, encounters an artist named Sonny Malone. With the help of Danny McGuire, a man Kira had inspired forty years earlier, Sonny builds a huge disco roller rink.
        </p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="https://filmbalaya.files.wordpress.com/2013/10/tumblr_m30zw7nbhp1r2kncco1_500.png?w=630" height=250 width=250>
       <h3 style align=center>Olivia Newton-John</h3>
      </div>
 <div class="row">
        <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://2.bp.blogspot.com/-1ydglyGmA4I/Tl2vAl0-1hI/AAAAAAAABS8/l98ffLtHh4g/s1600/Michael+Beck+Xanadu.JPG" height=250 width=250>
       <h3 style align=center>  Michael Beck   </h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://genekellyfans.com/wp-content/uploads/2013/08/xanadu_gene_kelly.jpg" height=250 width=250>
       <h3 style align=center>Gene Kelly</h3>
      </div>
<div class="row">
    <div class="col-xs-12- col-md-3 col-lg-3">
       <img src="http://www.wearysloth.com/Gallery/ActorsS/tve16084-19880202-218.jpg" height=250 width=250>
       <h3 style align=center>James Sloyan</h3>
      </div>
    </div>
  </div>
<br></br>
<!-- <img src="http://www.directv.com/cms2/technology/receivers/as/rt_lg_02.png"><p>34%</p> -->
<div class="container">
    <div class="span12">
        <p>
            <p><span style="font-weight:bold">Release Date:</span> August 8, 1980</p>
            <p><span style="font-weight:bold">Director:</span>  Robert Greenwald</p>
            <p><span style="font-weight:bold">Category:</span>  Fantasy | Musical | Romance</p>
            <p><span style="font-weight:bold">Rating:</span>  PG</p>
            <p><span style="font-weight:bold">Run Time:</span> 96 min</p>
            <p><span style="font-weight:bold">Budget:</span> $20,000,000</p>
            <p><span style="font-weight:bold">Box Office:</span> $22,762,571</p>
            <p><span style="font-weight:bold">Movie Nugget:</span> Xanadu was an inspiration for the creation of the Golden Raspberry Awards to memorialize the worst films of the year. It won 6 out of 7 nominations. </p>
    </div>
</div>
<br></br>
<hr></hr>
<div class="container">
    <div class="col-xs-12- col-md-8 col-lg-8">
<h2>How Did This Get Made? Episode #101</h2>
<p>January 12, 2015</p>
       <p>If you’ve ever roller-skated, then this movie is for you! Recorded LIVE at Largo in Los Angeles, special guest <span style="font-weight:bold">Michaela Watkins</span> joins Paul, June, and Jason to talk all about the Olivia Newton-John & Gene Kelly musical Xanadu. They’ll cover everything from the opening dance montage where the muses come out of a mural portal, the animation sequence that was basically the sex scene, and Gene Kelly’s memory boner. Plus, everyone figures out why Zeus has a British accent during audience Q&A!</p>
    </div>
<br></br>
<div class="row">
        <div class="col-xs-12- col-md-4 col-lg-4">
            <img src="http://cdn4.earwolf.com/wp-content/uploads/2013/11/163.jpg" height=250 width=250 align=left>
        </div>    
    </div>
</div>
<br></br>
<div class="row">
    <div class="col-xs-12- col-md-12 col-lg-12">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/185587881&color=ffcc00&show_artwork=false" align=left></iframe> 
    </div>
</div>
